apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: cilium-envoy
  namespace: kube-system
  labels:
    release: kps
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/name: cilium-envoy
  endpoints:
    - port: envoy-metrics
      interval: 30s
      path: /metrics
