apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-echo
  namespace: falco
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webhook-echo
  template:
    metadata:
      labels:
        app: webhook-echo
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: webhook-echo
        image: mendhak/http-https-echo:35
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        ports:
        - containerPort: 8080
        env:
        - name: HTTP_PORT
          value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: webhook-echo
  namespace: falco
spec:
  selector:
    app: webhook-echo
  ports:
  - name: http
    port: 80
    targetPort: 8080
